<!DOCTYPE HTML>
<html>
<head>
    <title>PhoneBuzz LendUp</title>
</head>
<body>
<h1>Lendup Coding Challenge Stages 1-3</h1>
<form action="#" th:action="@{/}" th:object="${number}" method="post">
    <p>Enter your phone number (Format: 5555555555): <input type="tel" pattern="\d{10}" th:field="*{num}" /></p>
    <p>Enter a time delay (seconds): <input type="number" min="0" th:field="*{delay}"/></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>